@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Chivo:ital,wght@0,400;1,700&family=Cinzel+Decorative:wght@400;900&family=Cormorant+Garamond:ital,wght@0,500;1,700&family=Eczar:wght@400;700&family=Press+Start+2P&family=Roboto:wght@400;700&family=VT323&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Chivo', monospace;
}

@layer base {
  :root {
    --color-primary: #4ff0c9;
    --color-secondary: #172a45;
    --color-white-alt: #ccd6f6;
    --color-button-muted: 45, 52, 54;
  }
  .theme-cute {
    --color-primary: #4ff0c9;
    --color-secondary: #172a45;
    --color-white-alt: #ccd6f6;
  }
  .theme-brutalism {
    --color-primary: #4ff0c9;
    --color-secondary: #172a45;
    --color-white-alt: #ccd6f6;
  }
  .theme-mono {
    --color-primary: #4ff0c9;
    --color-secondary: #172a45;
    --color-white-alt: #ccd6f6;
  }
  /* .theme-boring
  .theme-startup
  .theme-elegant  */
}
